.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.mt-5 {
  margin-top: 1.25rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.flex {
  display: flex
}

.h-3\/4 {
  height: 75%
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-xl {
  border-radius: 0.75rem
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}
