.absolute {
  position: absolute
}

.-mt-6 {
  margin-top: -1.5rem
}

.mt-3\.5 {
  margin-top: 0.875rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.flex {
  display: flex
}

.h-3\/4 {
  height: 75%
}

.h-10 {
  height: 2.5rem
}

.w-10 {
  width: 2.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}
