.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.bottom-0 {
  bottom: 0px
}

.mt-5 {
  margin-top: 1.25rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.mb-11 {
  margin-bottom: 2.75rem
}

.mb-12 {
  margin-bottom: 3rem
}

.flex {
  display: flex
}

.h-3\/4 {
  height: 75%
}

.h-full {
  height: 100%
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.w-full {
  width: 100%
}

.w-16 {
  width: 4rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-green-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}
